body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0; }


body { background: #fff; font-family: "Droid Serif",Georgia,"Times New Roman",Times,serif; color: #444444; }

/* optional Container STYLES */
.chart { height: max-content; width: 1250px; margin: 15px; margin: 15px auto; border: 0px solid rgb(5, 1, 46); border-radius: 3px; }

.node { font-size: 11px; }

.node.big-commpany { 
	cursor: pointer;
	/*padding: 0 2px;*/
	min-width: 160px;
	text-align: center;
	/*height: 70px;*/
	border: 2px solid #E8E8E3; 
	border-radius: 2px;
	box-shadow: 1px 1px 1px rgba(0,0,0,.5);
	background: #fff;
	padding: 10px;
	font-size: 13px; 
}
.node.big-commpany:active { 
	box-shadow: inset 1px 1px 1px rgba(0,0,0,.1); 
	margin: 1px 0 0 1px; 
	border: 2px solid rgb(56, 65, 73);
}

.node.big-commpany .node-name {
	line-height: 30px;
	color: rgb(5, 5, 5);

}

.node.big-commpany:hover .node-name {
	color: rgb(7, 7, 7);
	text-shadow: 1px 1px rgba(0,0,0,.15);
}

.Treant .collapse-switch { width: 100%; height: 100%; border: none; }
.Treant .node.collapsed { background-color: rgb(45, 184, 248); }
.Treant .node.collapsed .collapse-switch { background: none; }