html{
    background-image: url(img/bg.jpg) no-repeat center center fixed; 
    background-size: cover;
}

.menu {
    background-color: rgb(39, 39, 44);
    padding: auto;
    box-shadow: 0px 3px 10px  #414246;
    width: 100%;
}

.logo{
    color: white;
    margin-left: 15px;
    font-size: 28px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: block;
    position: absolute;
    
}

.nav{
    color: white;
    margin-left: 90%;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
    position: relative;
}


.logo a {
    color: white;
    text-decoration: none;
    text-decoration-style: none;
}
.logo a:hover{
    color: blanchedalmond;
    text-decoration: none;
}

.header{
    background-image: linear-gradient(to bottom, #0938c7, #2974d6);
    padding-top: 64px;
    padding-bottom: 64px;
    margin: 0;
    color: white;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    border-bottom-style: solid;
    border-bottom-color: rgb(39, 39, 44);
    border-bottom-width: 8px;
    box-shadow: 0px 8px 15px rgb(65, 64, 64);
    
}


.primary_button{
    background-color: rgb(134, 51, 3);
    font-size: 18px;
    color: white;
    margin: 30%;
    margin-top: 60%;
    margin-left: 15%;
    margin-bottom: 2%;
    padding: 15px;
    width: 200px;
    cursor: pointer;
    
    /*padding: 30px;*/
    
}
.secondary_button{
    background-color: rgb(3, 59, 63);
    font-size: 18px;
    color: white;
    margin: 7%;
    margin-left: 10%;
    padding: 15px;
    width: 200px;
    cursor: pointer;
    
    /*padding: 30px;*/
    
}

.tertiary_button{
    background-color: rgb(46, 2, 71);
    font-size: 14px;
    color: white;
    margin: 5%;
    margin-left: 20%;
    padding: 15px;
    width: 200px;
    cursor: pointer;
    
    /*padding: 30px;*/
    
}

.dropdown_buttons{
    display: none;
    transform: translateY(20%);
    /*position: absolute;
    margin-top: -260px;
    margin-left: 25%;*/
}

.dropdown_buttons2{
    display: none;
    /*position: absolute;
    margin-top: 100px;
    margin-left: 15%;*/
}

table#t1{
    width: 90%;
    margin: 25px auto;
    border: solid 1px #031347;

}

th{
    padding: 5px;
    border: solid 1px #031347;

}

.map{
    
    
}

.footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(39, 39, 44);
    text-align: center;
    font-size: 16px;
    color: white;
    padding-top: 100px;
    padding-bottom: 10px;
    

}

.footer_home{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(39, 39, 44);
    text-align: center;
    font-size: 16px;
    color: white;
    padding-top: 100px;
    padding-bottom: 10px;
    

}

table, th, td 
{
    margin:10px 0;
    border:solid 1px #333;
    padding:2px 4px;
    font:15px Verdana;
    
}
th {
    font-weight:bold;
}

.tablet{
    margin: 5%;
}